body
{
	line-height: 1.6em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	margin: 5px;
}

#content
{
	width: 100%;
	height: 100%;
	text-align: center;
}

.rounded-table
{
	font-size: 12px;
	margin: 0 auto;
	width: 250px;
	text-align: left;
	border-collapse: collapse;
}
.rounded-table thead th.rounded-head-left
{
	background: #2e467e url('example_tl.png') left -1px no-repeat;
}
.rounded-table thead th.rounded-head-center
{
	background: #2e467e;
}
.rounded-table thead th.rounded-head-right
{
	background: #2e467e url('example_tr.png') right -1px no-repeat;
}
.rounded-table th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	background: #b9c9fe;
}
.rounded-table td.list
{
	padding: 8px;
	background: #ededef;
	border-top: 1px solid #fff;
	color: #000;
}
.rounded-table td
{
	padding: 8px;
	background: #000;
	color: #fff;
}
.rounded-table td.day-border
{
	background:#2e467e;
	cursor:pointer;
}
.rounded-table td.day-border:hover
{
	color:#FFFF00;
}
.rounded-table td.border
{
	background:#2e467e;
}
.rounded-table tfoot td.rounded-foot-left-list
{
	background: #ededef url('example_bl.png') left bottom no-repeat;	
}
.rounded-table tfoot td.rounded-foot-center-list
{
	background: #ededef;
	text-align: center;
}
.rounded-table tfoot td.rounded-foot-right-list
{
	background: #ededef url('example_br.png') right bottom no-repeat;
}
.rounded-table tfoot td.rounded-foot-left
{
	background: #2e467e url('thermo_bl.png') left bottom no-repeat;	
}
.rounded-table tfoot td.rounded-foot-center
{
	background: #2e467e;
	text-align: center;
}
.rounded-table tfoot td.rounded-foot-right
{
	background: #2e467e url('thermo_br.png') right bottom no-repeat;
}
div.number
{
	background-color:#000;
	border:none;
	color:#2C37F4
}
div.heat
{
	background-color:#000;
	border:none;
	color:#F42C2C
}
div.digit
{
	width:23px;
	height:53px;
	background-color:#000;
	float:left
}
span.hz_off,span.hz_on,span.hz_dec
{
	width:20px;
	height:4px;
	background-image:url("leds.png"); 
	background-repeat:no-repeat;
	float:left
}
span.hz_off
{
	background-position:-19px -1px
}
span.hz_on{
	background-position:-19px -7px
}
span.hz_dec
{
	background-position:-19px -13px
}
span.vt_off,span.vt_on,span.vt_blank
{
	width:4px;
	height:20px;
	background-image:url("leds.png");
	background-repeat:no-repeat;
	float:left
}
span.vt_off{
	background-position:-7px -1px
}
span.vt_on
{
	background-position:-13px -1px
}
span.vt_blank
{
	background-position:-1px-1px
} 
span.mid
{
	width:12px;height:20px;float:left
}
a#up,a#up:hover
{
	display:block;
	background-image:url("up.png");
	background-color:Transparent;
	background-size: contain;
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	outline:none
}
a#up:hover
{
	opacity: 0.6;
}
a#down,a#down:hover
{
	display:block;
	background-image:url("down.png");
	background-color:Transparent;
	background-size: contain;
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	outline:none
}
a#down:hover
{
	opacity: 0.6;
}


ul#tabmenu
{
    width:100%;
    margin: 0 auto; 
    text-align:center;
    list-style:none;
    padding:0;
    font-size:0;
    position:relative;
    min-height:62px;
}
ul#tabmenu:after
{
    content:'.'; height: 0; clear: both; display: block; visibility: hidden;
}
        
ul#tabmenu li
{
    display:inline;
    list-style:none; padding:0;
    margin-top:0;margin-bottom:0;
    margin-left:1px;margin-right:-2px;
}
        
/*Main menu links*/
ul#tabmenu li a
{
    letter-spacing:normal;
    color:#F3F9FE;
    padding:0 26px;
    line-height:26px;
    font-size:11px;
    font-weight:normal;
    font-family:Arial;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    
    border:1px solid #000000;
    background:#2E467E no-repeat 0 bottom;
    position:relative;
    top:1px;
    z-index:4;  
    
}
/* If you've set the menu's javascript file with { preview:false }, you may want to specify the following hovered tab styles */    
ul#tabmenu li a:hover {
    color: #2E467E;
    background: #EDEDEF;
}

ul#tabmenu li.active a
{
    background: #EDEDEF no-repeat 0 bottom;
    color:#2E467E;
}

/* You can set active tab's style when hovered*/
ul#tabmenu li.active a:hover {
    color:#2E467E;
}

/* Secondary level sub-menu
----------------------------------------------------------*/
ul#tabmenu li.active ul, ul#tabmenu>li:first-child>ul
{
    display:block;
    text-align:center;
    margin:0;
    padding:0;
    border:1px solid #000000;    
    float:left;
    width:100%;
    z-index:3;
    
}    
ul#tabmenu li ul
{
    display: none;
    letter-spacing:normal;
    background:#336699 repeat-x 0 0;
}    
ul#tabmenu li li
{
    margin-left: 0px;
}